* {
	box-sizing: border-box;
}

/* === GLOBAL SETTINGS === */

.banner {
	background-color: #e3d6ca;
	border-style: dotted;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #786e64;
	margin: 0px;
	position: relative;
}

.banner img {
	position: static;
	top: 80px;
	left: 100px;
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 2.5em;
	text-align: right;
	padding-right: 100px;
}

h2 {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 1.6em;
	color: #b26851;
}

h3 {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 1.4em;
	color: #655342;
	margin: 0px;
}

h4 {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 1.2em;
	color: #6e744f;
	text-indent: 40px;
}

body {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 1.4em;
	line-height: 1.5;
	margin: 0px;
}

main {
	margin: 0px;
	overflow: hidden;
	padding: 40px;
}

img {
max-width: 100%;
height: auto;
}

.floatright {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}


.leftsidebar {
	overflow: hidden;	
	padding: 40px;
	padding-top: 42px;
}

.leftsidebar li {
	margin: -25px;
	padding-top: 25px;
	padding-bottom: 40px;
	color: #655342;
	font-weight: bold;
}

.clearfloat {
	clear: both;
}

.site-footer {
	text-align: center;
	padding: 10px 40px;
	background-color: #e3d6ca;
	border-style: dotted;
	border-color: #786e64;
	border-right: none;
	border-left: none;
	border-bottom: none;
}


iframe {
	border: 0;
}

/* === INTRALINKS === */

a:link {
	color: #655342;
	text-decoration: none;
}

a:visited {
	color: #655342;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:active {
	color: #6e744f;
	text-decoration: underline;
}

.back-link a:link {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
	
.back-link a:visited {
	font-weight: bold;
	color: #655342;
	text-decoration: none;
}

.back-link a:hover {
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.back-link a:active {
	color: #6e744f;
	text-decoration: underline;
	font-weight: bold;
}

/* === NAVIGATION MENU === */

nav ul {
	list-style-type: none;
	background-color: #9eb2a6;
}

nav {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	font-weight: bold;
	background-color: #9eb2a6;
	margin: 0px;
	padding: 0px;
}

.mainmenu a {
	color: #000000;
	display: block;
	list-style-type: none;
	text-decoration: none;
	list-style-type: none;
}

.mainmenu a:hover {
	background-color: #e4c59b;
	list-style-type: none;
}


/* === FORM === */

input[type="text"] {
		height: 1.4em;
		width: 18em;
		margin: 0.4em;
		border: 1px;
		border-style: solid;
		color: #6e744f;
}

label {
	display: block;
	font-weight: bold;
	font-size: 1.3em;
	color: #b26851;
}

legend {
	color: #6e744f;
	font-size: 1.5em;
	font-weight: bold;
}

.text-legend {
	color: #6e744f;
	font-size: 1.3em;
}

textarea {
	width: 100%;
	margin: 0.4em;
}

input[type="submit"] {
	margin: 0.4em;
	font-weight: bold;
	padding: 0.4em;
	background-color: #e4c59b;
	font-weight: bold;
	font-size: 1.2em;
}


/* === XML TABLE === */

.inventory caption {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
	font-size: 1.2em;
	color: #655342;
	margin: 0px;
	font-weight: bold;
}

.inventory thead {
	border: 2px solid #b26851;
	border-collapse: collapse;
	background-color: #e4c59b;
}


.inventory tr:nth-child(even) {
    background-color: #deaa71;
}

.inventory {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
}

.inventory th {
	text-align: left;
	padding: 4px;
	font-size: 1.2em;
	background-color: #e4c59b;
	border: 2px solid #b26851;
	border-collapse: collapse;
}

.inventory tfoot {
	background-color: #e4c59b;
	border: solid 1px;
	font-size: 1.1em;
	border-collapse: collapse;
}

.inventory tr {
	font-size: 1.1em;
}

.inventory tr td {
	border: 1px solid black;
	border-collapse: collapse;
}


/* === LISTS === */

.leftsidebar ul a:link {
	font-weight: bold;
}

.leftsidebar ul ul li a:link {
	color: #6e744f;
	line-height: 1em;
	font-size: 1em;
}

/* === Table Settings === */

caption {
	text-align: left;
	padding: 6px;
	font-size: 1.1em;
	border-top: 2px solid #b26851;
}


.cathealth, .cathealth thead {
	border: 1px solid black;
	text-align: left;
	border-collapse: collapse;
	padding: 4px;	
}


.cathealth thead {
	background-color: #e4c59b;
	text-indent: 6px;
	border: 2px solid #b26851;
}

.cathealth th {
	border: 2px solid #b26851;
}

.cathealth tr td {
	border: 1px solid black;
	text-indent: 6px;
}

.cathealth tr:nth-child(even) {
            background-color: #deaa71;
}


@media (min-width: 768px) {


.container {	
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:"banner banner" 
						"mainmenu mainmenu"
						"leftsidebar main" 
						"footer footer";	
}
	

.banner {
	background-color: #e3d6ca;
	border-style: dotted;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #786e64;
	margin: 0px;
	padding: 0px;
	position:relative;
}

.banner img {
	position: absolute;
	top: 35px;
	left: 40px;
}


.banner {
	grid-area: banner;
}


.mainmenu {
	grid-area: mainmenu;
}

.leftsidebar {
	grid-area: leftsidebar;
}

main {
	grid-area: main;
}


.site-footer {
	text-align: center;
	padding: 10px 40px;
	background-color: #e3d6ca;
	border-style: dotted;
	border-color: #786e64;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.site-footer {
	grid-area: footer;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0px;
	margin: 0px;
	background-color: #9eb2a6;
}
}
